MathResearch2019/src/main/java/MathResearch2019/Calculator
MathResearch2019/src/test/java/MathResearch2019/MathResearch2019
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
*.zip
/.classpath
/.project
/.settings
/.metadata
/target
/bin
